<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConferentieSysteemData.Properties.Settings.ConferentieSysteemDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\HP\Documents\syntra\eindwerk\ConferentieSysteem\ConferentieSysteemData\ConferentieSysteemDatabase.mdf;Integrated Security=True;Pooling=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>